@model Certification_System.DTOViewModels.DisplayCourseWithMeetingsViewModel
@using Certification_System.DTOViewModels

@{
    ViewBag.Title = "ConfirmationOfActionOnCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.TypeOfAction == "Update")
{
    <h2 class="alert alert-info" role="alert">Zaktualizowano kurs:</h2>
}
else
{
    <h2 class="alert alert-success" role="alert">Dodano następujący kurs:</h2>
}

<div class="row m-0 mt-3 mb-3">
    <a asp-action="AddCourseMenu" asp-controller="Courses" class="btn btn-primary mt-1 xs350px_FloatLeft">Dodaj nowy kurs</a>
    <a asp-action="DisplayAllCourses" asp-controller="Courses" class="btn btn-outline-info mt-1 xs350px_FloatRight">Powrót do listy kursów</a>
</div>

@{List<DisplayCourseWithPriceViewModel> courseList = new List<DisplayCourseWithPriceViewModel>();
    courseList.Add(Model.Course);}

@await Component.InvokeAsync("DisplayCourseWithPriceDataTable", new { courseViewModel = courseList, showPrice = true, tableIdentificator = "courseConfirmation" })

<div class="row m-0 mt-3">
    <a asp-action="CourseDetails" asp-route-courseIdentificator="@Model.Course.CourseIdentificator" asp-controller="Courses" class="btn btn-secondary mt-1 mr-1">Szczegóły</a>
    <a asp-action="EditCourseHub" asp-route-courseIdentificator="@Model.Course.CourseIdentificator" asp-controller="Courses" class="btn btn-warning mt-1 mr-1">Edytuj</a>
</div>

@if (Model.Meetings.Count() != 0)
{
    <h2 class="mt-4 mb-4">Spotkania w ramach kursu</h2>

    <div class="mt-3 mb-3">
        <a asp-action="AddNewMeeting" asp-route-courseIdentificator="@Model.Course.CourseIdentificator" asp-controller="Meetings" class="btn btn-primary">Dodaj spotkanie</a>
    </div>

    @await Component.InvokeAsync("DisplayMeetingWithoutCourseDataTable", new { meetingViewModel = Model.Meetings, tableIdentificator = "listMeetings", operationSet = 1 })
}

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableBasicScript", new DataTableInitializationViewModel("courseConfirmation", new int[] { }, 80, true));}
    @{await Html.RenderPartialAsync("_DataTableBasicScript", new DataTableInitializationViewModel("listMeetings", new int[] { }, 80, true));}
}
