@model IEnumerable<Certification_System.DTOViewModels.DisplayCourseOfferViewModel>

@{
    ViewData["Title"] = "CourseOffer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Oferta kursów</h1>
<hr />

@await Component.InvokeAsync("DisplayCourseOfferDataTable", new { courseViewModel = Model, tableIdentificator = "listCourses", operationSet = 1 })

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableBasicScript", "listCourses");}
}