@model Certification_System.DTOViewModels.DeleteUsersFromCourseViewModel

@{
    ViewData["Title"] = "DeleteUsersFromCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuwanie użytkowników z kursu</h2>
<hr />

<div class="col-md-8 col-xl-6 col-lg-6 col-sm-12 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.90">

    <h2>Informacje o kursie</h2>

    <div class="form-group">
        <label asp-for="CourseIndexer" class="control-label"></label>
        <input asp-for="CourseIndexer" class="form-control col-12" disabled />
    </div>

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control col-12" disabled />
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control col-12" style="width:100%; min-width:100%;" disabled></textarea>
    </div>

    <div class="form-group">
        <label asp-for="DateOfStart" class="control-label"></label>
        <input asp-for="DateOfStart" class="form-control col-12" disabled />
    </div>

    <div class="form-group">
        <label asp-for="DateOfEnd" class="control-label"></label>
        <input asp-for="DateOfEnd" class="form-control col-12" disabled />
    </div>

    <div class="form-group">
        <label asp-for="EnrolledUsersLimit" class="control-label"></label>
        <input asp-for="EnrolledUsersLimit" class="form-control col-12" disabled />
    </div>

    <div class="form-group">
        <label asp-for="EnrolledUsersQuantity" class="control-label"></label>
        <input asp-for="EnrolledUsersQuantity" class="form-control col-12" disabled />
    </div>

    <div class="form-group">
        <label asp-for="ExamIsRequired" class="control-label"></label>
        <div class="row pl-3">
            <input type="checkbox" asp-for="ExamIsRequired" class="form-control col-12" data-toggle="toggle" data-on="Tak" data-off="Nie" data-size="sm" disabled />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CourseLength" class="control-label"></label>
        <input asp-for="CourseLength" class="form-control col-12" disabled />
    </div>

    <div class="form-group">
        <label asp-for="Branches" class="control-label col-12 p-0"></label>
        <div>
            <div class="btn-group btn-group-toggle row" data-toggle="buttons">
                @foreach (var branch in Model.Branches)
                {
                    <label class="btn btn-outline-secondary m-2 active">
                        <input type="checkbox"
                               name="SelectedBranches"
                               value="@branch"
                               autocomplete="off"
                               disabled
                               checked />
                        <span>@branch</span>
                    </label>
                }
            </div>
        </div>
    </div>

</div>

<h2 class="mt-4 mb-4">Uczestnicy kursu</h2>

<form asp-action="DeleteUsersFromCourse">

    <input asp-for="CourseIdentificator" class="form-control col-12" hidden />

    @if (Model.AllCourseParticipants.Count != 0)
    {
        @await Component.InvokeAsync("DeleteUserFromCourseDataTable", new { userViewModel = Model.AllCourseParticipants, userToDeleteViewModel = Model.UsersToDeleteFromCourse, tableIdentificator = "listUsers" })

        <div>
            <div class="row justify-content-center">
                <input type="submit" value="Usuń użytkowników z kursu" class="btn btn-danger" />
            </div>
        </div>
    }
    else
    {
        <div class="mt-4 mb-4 alert alert-warning">Brak zapisanych użytkowników</div>
    }

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_DataTableBasicScript", "listUsers");}
}
