@model IEnumerable<Certification_System.DTOViewModels.DisplayCourseViewModel>
@using Certification_System.DTOViewModels

@{
    ViewData["Title"] = "InstructorCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Moje prowadzone kursy</h1>
<hr />

<div class="row justify-content-center form-group">
    <label class="control-label" id="labelWithSelect" style="margin-bottom:0px; margin-top:7px">Status kursu:</label>
    <select id="selectCourseEndedFilter" data-style="btn-light" data-container="body" data-width="50%" data-size="auto" data-header="Wybierz status kursu" data-live-search="true" title="Nie wybrano żadnego elementu" data-none-results-text="Nie znaleziono szukanej frazy" class="form-control selectpicker show-tick">
        <option value="" selected>Brak filtra</option>
        <option value="1">Archiwalne kursy</option>
        <option value="0">Aktualne kursy</option>
    </select>
</div>

@await Component.InvokeAsync("DisplayCourseDataTable", new { courseViewModel = Model, tableIdentificator = "listCourses", operationSet = 1 })

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableWithFilterOnColumnScript", new DataTableExtendedScriptViewModel { TableIdentificator = "listCourses", NumberOfColumn = 8, SelectId = "selectCourseEndedFilter" });}
}