@model IEnumerable<Certification_System.DTOViewModels.DisplayCourseViewModel>
@using Certification_System.DTOViewModels

@{
    ViewData["Title"] = "WorkerCourses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista wszystkich kursów</h1>
<hr />

<div class="row justify-content-center form-group">
    <label class="control-label" id="labelWithSelect" style="margin-bottom:0px; margin-top:7px">Status kursu:</label>
    <select id="select" data-style="btn-light" data-container="body" data-width="auto" data-header="Wybierz status kursu" data-live-search="true" title="Nie wybrano żadnego elementu" class="form-control selectpicker show-tick w-50">
        <option value="" selected>Brak filtra</option>
        <option value="1">Archiwalne kursy</option>
        <option value="0">Aktualne kursy</option>
    </select>
</div>

@await Component.InvokeAsync("DisplayCourseDataTable", new { courseViewModel = Model, tableIdentificator = "listCourses", operationSet = 1 })

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableWithFilterOnColumnScript", new DataTableExtendedScriptViewModel { TableIdentificator = "listCourses", NumberOfColumn = 8 });}
}
