@{
    ViewBag.Title = "BlankMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-2">
    <img src="~/Image/logo_ziad_big.jpg" class="img-fluid rounded mx-auto d-block" alt="Logo ZIAD" style="height:30vw; opacity:0.60" />
</div>
