@model IEnumerable<Certification_System.DTOViewModels.DisplayCertificateViewModel>

@{
    ViewData["Title"] = "DisplayAllCertificates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista certyfikatów</h2>
<hr />

<div class="mt-3 mb-3">
    <a asp-action="AddNewCertificate" asp-controller="Certificates" class="btn btn-primary">Dodaj nowy certyfikat</a>
</div>

@await Component.InvokeAsync("DisplayCertificateDataTable", new { certificateViewModel = Model, tableIdentificator = "listCertificates", operationSet = 1 })

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#listCertificates').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Polish.json"
                },
                //responsive: true
            }
            );
        });
    </script>
}