@model Certification_System.DTOViewModels.DisplayDegreeViewModel
@using  Certification_System.DTOViewModels

@{
    ViewData["Title"] = "ConfirmationOfActionOnDegree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.TypeOfAction == "Update")
{
    <h2 class="alert alert-info" role="alert">Zaktualizowano stopień zawodowy:</h2>
}
else
{
    <h2 class="alert alert-success" role="alert">Dodano następujący stopień zawodowy:</h2>
}

<div class="row m-0 mt-3 mb-3">
    <a asp-action="AddNewDegree" asp-controller="Degrees" class="btn btn-primary mt-1 md650px_FloatLeft">Dodaj stopień zawodowy</a>
    <a asp-action="DisplayAllDegrees" asp-controller="Degrees" class="btn btn-outline-info mt-1 md650px_FloatRight">Powrót do listy stopni zawodowych</a>
</div>

@{List<DisplayDegreeViewModel> degreeList = new List<DisplayDegreeViewModel>();
    degreeList.Add(Model);}

@await Component.InvokeAsync("DisplayDegreeDataTable", new { degreeViewModel = degreeList, tableIdentificator = "degreeConfirmation" })

<div class="row m-0 mt-3">
    <a asp-action="DegreeDetails" asp-route-degreeIdentificator="@Model.DegreeIdentificator" asp-controller="Degrees" class="btn btn-info mt-1 mr-1">Szczegóły</a>
    <a asp-action="EditDegree" asp-route-degreeIdentificator="@Model.DegreeIdentificator" asp-controller="Degrees" class="btn btn-warning mt-1 mr-1">Edytuj</a>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableBasicScript", "degreeConfirmation");}
}
