@model Certification_System.DTOViewModels.DegreeDetailsViewModel

@{
    ViewData["Title"] = "DegreeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Szczegóły stopnia zawodowego</h1>
<hr />

<div>
    <h2>Informacje o stopniu zawodowym</h2>

    <div class="row m-0 mt-3 mb-3">
        <a asp-action="EditDegree" asp-route-degreeIdentificator="@Model.DegreeIdentificator" asp-controller="Degrees" class="btn btn-warning mt-1 xs450px_FloatLeft">Edytuj</a>
        <a asp-action="DisplayAllDegrees" asp-controller="Degrees" class="btn btn-outline-info mt-1 xs450px_FloatRight">Powrót do listy stopni zawodowych</a>
    </div>

    <form asp-action="DegreeDetails">

        <div class="col-md-8 col-xl-6 col-lg-6 col-sm-12 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.90">

            <div class="form-group">
                <label asp-for="DegreeIndexer" class="control-label"></label>
                <input asp-for="DegreeIndexer" class="form-control col-12" disabled" />
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control col-12" style="width:100%; min-width:100%;" disabled></textarea>
            </div>

            <div>
                <label asp-for="Branches" class="control-label col-12 p-0"></label>
                <div>
                    <div class="btn-group btn-group-toggle row" data-toggle="buttons">
                        @foreach (var branch in Model.Branches)
                        {
                            <label class="btn btn-outline-secondary m-2 active">
                                <input type="checkbox"
                                       name="SelectedBranches"
                                       value="@branch"
                                       autocomplete="off"
                                       disabled
                                       checked />
                                <span>@branch</span>
                            </label>
                        }
                    </div>
                </div>
            </div>

        </div>

    </form>
</div>

<h2 class="mt-4 mb-4">Certyfikaty wymagane do uzyskania stopnia zawodowego</h2>

@if (Model.RequiredCertificates.Count != 0)
{
    @await Component.InvokeAsync("DisplayCertificateDataTable", new { certificateViewModel = Model.RequiredCertificates, tableIdentificator = "listRequiredCertificates", operationSet = 1 })
}
else
{
    <div class="mt-4 mb-4 alert alert-warning">Do nadania stopnia zawodowego nie jest wymagane posiadanie jakiegokolwiek certyfikatu</div>
}

<h2 class="mt-4 mb-4">Stopnie zawodowe wymagane do uzyskania stopnia zawodowego</h2>

@if (Model.RequiredDegrees.Count != 0)
{
    @await Component.InvokeAsync("DisplayDegreeDataTable", new { degreeViewModel = Model.RequiredDegrees, tableIdentificator = "listRequiredDegrees", operationSet = 1 })
}
else
{
    <div class="mt-4 mb-4 alert alert-warning">Do nadania stopnia zawodowego nie jest wymagane posiadanie jakiegokolwiek stopnia zawodowego</div>
}

<h2 class="mt-4 mb-4">Użytkownicy posiadający stopień zawodowy</h2>

@if (Model.UsersWithDegree.Count != 0)
{
    @await Component.InvokeAsync("DisplayUserDataTable", new { userViewModel = Model.UsersWithDegree, tableIdentificator = "listUsers", operationSet = 1 })
}
else
{
    <div class="mt-4 mb-4 alert alert-warning">Brak użytkowników posiadających dany stopień zawodowy</div>
}

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#listUsers').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Polish.json"
                },
            }
            );

            $('#listRequiredCertificates').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Polish.json"
                },
            }
            );

            $('#listRequiredDegrees').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Polish.json"
                },
            }
            );

        });
    </script>
}

