@model IEnumerable<Certification_System.DTOViewModels.DisplayDegreeViewModel>

@{
    ViewData["Title"] = "DisplayAllDegrees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista wszystkich stopni zawodowych</h2>

<div class="mt-3 mb-3">
    <a asp-action="AddNewDegree" asp-controller="Degrees" class="btn btn-primary">Dodaj stopień zawodowy</a>
</div>

@await Component.InvokeAsync("DisplayDegreeDataTable", new { degreeViewModel = Model, tableIdentificator = "listDegrees", operationSet = 1 })

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableBasicScript", "listDegrees");}
}
