<nav class="navbar navbar-expand-lg sticky-top navbar navbar-light bg-light font-weight-bold m-auto" style=" opacity: 0.95; font-size:18px">
    <div class="m-auto">
        <img src="http://szkolenie.ziad.bielsko.pl/wp-content/uploads/elementor/thumbs/LOGO-ZIAD-u-e1552386865677-o4rd90ugx6yz8nf4i45ijoxmsw4smd9zrcb27yfta8.png" />
        <a class="navbar-brand" style="font-size: 24px">Certification Platform</a>
    </div>
</nav>
