@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-secondary alert-dismissible fade show p-3 text-justify row" role="alert">
        <div>
            <p>
                Witryna wykorzystuje do swojego działania pliki cookie (ciasteczka).
                Ciasteczka wykorzystywane są do przechowywania informacji odnośnie użytkownika na potrzeby działania serwisu.
                Witryna nie wykorzystuje żadnych ciasteczek firm trzecich.
                Korzystając z serwisu automatycznie zgadzasz się na wykorzystywanie przez nas plików cookie.
            </p>
        </div>
        <button type="button" class="accept-policy close position-relative ml-auto mr-0" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Akceptuję warunki korzystania z serwisu</span>
        </button>

    </div>

    @section Scripts {
        <script>
            (function () {
                var button = document.querySelector("#cookieConsent button[data-cookie-string]");
                button.addEventListener("click", function (event) {
                    document.cookie = button.dataset.cookieString;
                }, false);
            })();
        </script>
    }
}