<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Certification_System</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <link href="~/css/bootstrap-datetimepicker.css" rel="stylesheet" />

    <link href="~/css/bootstrap-select.css" rel="stylesheet" />

    <link href="~/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/css/responsive.bootstrap4.css" rel="stylesheet" />

    <link href="~/css/bootstrap4-toggle.min.css" rel="stylesheet" />

    <link href="~/css/bootstrap-tagsinput.css" rel="stylesheet" />

</head>
<body class="body-image">
    <div id="top-bar-wrap" class="clr p-3">
        <div id="top-bar" class="clr container">
            <div id="top-bar-inner" class="clr">
                <div id="top-bar-content" class="clr has-content top-bar-left">
                    <span class="topbar-content">
                        <b>Godziny otwarcia: </b>pn-pt 7:00– 15:00,    tel. 33 81 38 300-309,   e-mail: szkolenie@ziad.bielsko.pl
                    </span>
                </div><!-- #top-bar-content -->
            </div><!-- #top-bar-inner -->
        </div><!-- #top-bar -->
    </div>

    @if (this.User.Identity.IsAuthenticated)
    {
        //@Html.Action("GenerateMenu", "Account");

        // Menu Admin
        if (this.User.IsInRole("Admin"))
        {@await Component.InvokeAsync("AdminMenu")}

        // Menu Pracodawca
        else if (this.User.IsInRole("Company"))
        {@await Component.InvokeAsync("CompanyMenu")}
     
        // Menu Pracownik
        else if (this.User.IsInRole("Worker"))
        {@await Component.InvokeAsync("WorkerMenu")}
        
        // Menu Instruktor-Egzaminator
        else if (this.User.IsInRole("Instructor") && this.User.IsInRole("Examiner"))
        {@await Component.InvokeAsync("InstructorExaminerMenu")}
        
        // Menu Instruktor
        else if (this.User.IsInRole("Instructor"))
        {@await Component.InvokeAsync("InstructorMenu")}
        
        // Menu Egzaminator
        else if (this.User.IsInRole("Examiner"))
        {@await Component.InvokeAsync("ExaminerMenu")}
    }
    else
    {
         <partial name="_CertificationSystemBanner" />
    }

    <div class="container body-content background-image mt-2">
        <partial name="_CookieConsentPartial" />
        @RenderBody()
    </div>

    <hr />
  
    <div id="footer-bottom" class="clr no-footer-nav control" style="color: #ffffff">
        <div id="footer-bottom-inner" class="container clr">
            <div id="copyright" class="clr" role="contentinfo">
                © Copyright Łukasz Czepielik 2019/2020
            </div><!-- #copyright -->
        </div><!-- #footer-bottom-inner -->
    </div>
    @*<div class="container">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>*@

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - Certification_System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>


    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/modernizr-2.8.3.js"></script>
    @*<script src="~/js/popper.js"></script>
        <script src="~/js/popper-utils.js"></script>*@

    <script src="~/js/moment-with-locales.js"></script>
    <script src="~/js/bootstrap-datetimepicker.js"></script>
    <script src="~/js/bootstrap-select.js"></script>

    <script src="~/js/jquery.dataTables.js"></script>
    <script src="~/js/dataTables.bootstrap4.js"></script>

    <script src="~/js/bootstrap4-toggle.min.js"></script>

    <script src="~/js/printThis.js"></script>

    <script src="~/js/bootstrap-tagsinput.js"></script>

    @*<script src="~/js/responsive.bootstrap.js"></script>
        <script src="~/js/dataTables.responsive.js"></script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
