<nav class="navbar navbar-expand-lg sticky-top navbar navbar-light bg-light font-weight-bold" style=" opacity: 0.95; font-size:18px">
    <img src="http://szkolenie.ziad.bielsko.pl/wp-content/uploads/elementor/thumbs/LOGO-ZIAD-u-e1552386865677-o4rd90ugx6yz8nf4i45ijoxmsw4smd9zrcb27yfta8.png" />
    <a asp-controller="Certificates" asp-action="BlankMenu" class="navbar-brand ml-2" style="font-size: 18px">Certification Platform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="row navbar-nav ml-1 mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Certyfikacja</a>
                <div class="dropdown-menu">
                    <p class="dropdown-header">Certyfikaty i stopnie zawodowe</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="" asp-action="" class="dropdown-item">Uzyskane certyfikaty i stopnie zawodowe</a>
                    <div class="dropdown-divider"></div>
                    <p class="dropdown-header mt-1">Połączone przedsiębiorstwa</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="" asp-action="" class="dropdown-item">Moje przedsiębiorstwa</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kursy</a>
                <div class="dropdown-menu">
                    <p class="dropdown-header">Szkolenia zawodowe</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="Courses" asp-action="WorkerCourses" class="dropdown-item">Moje kursy *</a>
                    <a asp-controller="" asp-action="" class="dropdown-item">Oferta</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aktualności</a>
                <div class="dropdown-menu">
                    <p class="dropdown-header">Wydarzenia</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="" asp-action="" class="dropdown-item">Kalendarz</a>
                    <a asp-controller="" asp-action="" class="dropdown-item">Centrum powiadomień</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Weryfikacja kompetencji</a>
                <div class="dropdown-menu">
                    <p class="dropdown-header">Weryfikacja</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="CompetenceVerification" asp-action="VerifyCompetenceManual" class="dropdown-item">Instrukcja z menu weryfikacji *</a>
                    <a asp-controller="CompetenceVerification" asp-action="VerifyUser" class="dropdown-item">Weryfikacja użytkownika *</a>
                    <a asp-controller="CompetenceVerification" asp-action="VerifyGivenCertificate" class="dropdown-item">Weryfikacja certyfikatu *</a>
                    <a asp-controller="CompetenceVerification" asp-action="VerifyGivenDegree" class="dropdown-item">Weryfikacja stopnia zawodowego *</a>
                </div>
            </li>
        </ul>
        <partial name="_LoginPartial" />
    </div>
</nav>
