@model Certification_System.DTOViewModels.AddExamTypeOfActionViewModel

@{
    ViewData["Title"] = "AddExamMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-top:10vw">
    <form asp-action="AddExamMenu">
        <div class="col-md-8 col-xl-6 col-lg-6 col-sm-12 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.90">

            <div class="btn-group btn-group-toggle row" data-toggle="buttons">
                @foreach (var option in Model.AvailableOptions)
                {
                    <label class="btn btn-outline-secondary ml-2 mr-2 mt-1">
                        <input type="radio"
                               name="SelectedOption"
                               value="@option.Value"
                               autocomplete="off" />
                        <span>@option.Text</span>
                    </label>
                }
            </div>
            <div class="row justify-content-center">
                <span asp-validation-for="SelectedOption" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <label asp-for="ExamTermsQuantity" class="control-label"></label>
                <div>
                    <select asp-for="ExamTermsQuantity" data-style="btn-white" data-container="body" multiple data-max-options="1" data-width="auto" data-header="Wybierz liczbę tur" data-live-search="true" title="Nie wybrano żadnego elementu" class="form-control selectpicker show-tick w-100 rounded border border-secondary">
                        @for (int i = 0; i < 10; i++)
                        {
                            <option>@i</option>
                        }
                    </select>
                    <div class="row justify-content-center">
                        <span asp-validation-for="ExamTermsQuantity" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-2">
                <input type="submit" value="Dodaj nowy egzamin" class="btn btn-primary mt-1 xs300px_JustifyContentCenter" />
            </div>

        </div>
    </form>
</div>