@model Certification_System.DTOViewModels.DeleteUsersFromExamViewModel

@{
    ViewData["Title"] = "DeleteUsersFromExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuwanie użytkowników z egzaminu</h2>
<hr />

<form asp-action="DeleteUsersFromExam">
    <div>
        <h2>Informacje o egzaminie</h2>

        <div class="col-md-8 col-xl-6 col-lg-6 col-sm-12 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.90">

            <input asp-for="ExamIdentificator" class="form-control col-12" hidden />

            <div class="form-group">
                <label asp-for="ExamIndexer" class="control-label"></label>
                <input asp-for="ExamIndexer" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="OrdinalNumber" class="control-label"></label>
                <input asp-for="OrdinalNumber" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <textarea asp-for="Name" class="form-control col-12" style="width:100%; min-width:100%;" disabled></textarea>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control col-12" style="width:100%; min-width:100%;" disabled></textarea>
            </div>

            <div class="form-group">
                <label asp-for="TypeOfExam" class="control-label"></label>
                <input asp-for="TypeOfExam" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="DateOfStart" class="control-label"></label>
                <input asp-for="DateOfStart" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="DateOfEnd" class="control-label"></label>
                <input asp-for="DateOfEnd" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="DurationDays" class="control-label"></label>
                <input asp-for="DurationDays" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="DurationMinutes" class="control-label"></label>
                <input asp-for="DurationMinutes" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="ExamDividedToTerms" class="control-label"></label>
                <div class="row pl-3">
                    <input type="checkbox" asp-for="ExamDividedToTerms" class="form-control col-12" data-toggle="toggle" data-on="Tak" data-off="Nie" data-size="sm" disabled />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="UsersQuantitiy" class="control-label"></label>
                <input asp-for="UsersQuantitiy" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="UsersLimit" class="control-label"></label>
                <input asp-for="UsersLimit" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="PostCode" class="control-label"></label>
                <input asp-for="PostCode" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="NumberOfApartment" class="control-label"></label>
                <input asp-for="NumberOfApartment" class="form-control col-12" disabled />
            </div>

        </div>
    </div>

    <h2 class="mt-4 mb-4">Uczestnicy egzaminu</h2>

    @if (Model.AllExamParticipants.Count != 0)
    {
        @await Component.InvokeAsync("DeleteUserFromExamDataTable", new { userViewModel = Model.AllExamParticipants, userToDeleteViewModel = Model.UsersToDeleteFromExam, tableIdentificator = "listUsers" })

        <div>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal">Usuń użytkowników z egzaminu</button>
            </div>
        </div>
    }
    else
    {
        <div class="mt-4 mb-4 alert alert-warning">Brak zapisanych użytkowników</div>
    }

    @await Component.InvokeAsync("Modal", new { Title = "Usuwanie użytkowników z egzaminu", Body = "Czy na pewno chcesz usunąć zaznaczonych użytkowników z egzaminu ?", FormSubmit = true, ButtonText = "Usuń", ButtonClass = "btn-danger" })

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_DataTableBasicScript", "listUsers");}
}
