@model IEnumerable<Certification_System.DTOViewModels.DisplayExamResultViewModel>

@{
    ViewData["Title"] = "DisplayAllExamsResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista wyników z egzaminów</h1>
<hr />

@await Component.InvokeAsync("DisplayExamResultDataTable", new { examResultViewModel = Model, tableIdentificator = "listExamsResults" })

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#listExamsResults').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Polish.json"
                },
            }
            );
        });
    </script>
}
