@model IEnumerable<Certification_System.DTOViewModels.DisplayExamResultViewModel>

@{
    ViewData["Title"] = "DisplayAllExamsResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista wyników z egzaminów</h1>
<hr />

@if (!string.IsNullOrWhiteSpace(ViewBag.message))
{
    <h2 class="alert alert-info" role="alert">@ViewBag.message</h2>
}

@await Component.InvokeAsync("DisplayExamResultDataTable", new { examResultViewModel = Model, tableIdentificator = "listExamsResults" })

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableBasicScript", "listExamsResults");}
}
