@model IEnumerable<Certification_System.DTOViewModels.DisplayExamViewModel>
@using Certification_System.DTOViewModels

@{
    ViewData["Title"] = "DisplayAllExams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!string.IsNullOrWhiteSpace(ViewBag.message))
{
    <h2 class="alert alert-info" role="alert">@ViewBag.message</h2>
}

<h1>Lista egzaminów</h1>
<hr />

<div class="mt-3 mb-3">
    <a asp-action="AddExamMenu" asp-controller="Exams" class="btn btn-primary">Dodaj nowy egzamin</a>
</div>

@await Component.InvokeAsync("DisplayExamDataTable", new { examViewModel = Model, tableIdentificator = "listExams", operationSet = 2 })

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableBasicScript", new DataTableInitializationViewModel("listExams", new int[] { 2, 6 }, 80, true));}
}
