@model IEnumerable<Certification_System.DTOViewModels.DisplayExamViewModel>
@using Certification_System.DTOViewModels

@{
    ViewData["Title"] = "ExaminerExams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Moje egzaminy</h1>
<hr />

@await Component.InvokeAsync("DisplayExamDataTable", new { examViewModel = Model, tableIdentificator = "listExams", operationSet = 3 })

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableBasicScript", new DataTableInitializationViewModel("listExams", new int[] { }, 80, true));}
}
