@model IEnumerable<Certification_System.DTOViewModels.DisplayExamViewModel>

@{
    ViewData["Title"] = "ExaminerExams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Moje egzaminy</h1>
<hr />

<div class="mt-3 mb-3">
    <a asp-action="AddExamMenu" asp-controller="Exams" class="btn btn-primary">Dodaj nowy egzamin</a>
</div>

@await Component.InvokeAsync("DisplayExamDataTable", new { examViewModel = Model, tableIdentificator = "listExams", operationSet = 1 })

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableBasicScript", "listExams");}
}
