@model Certification_System.DTOViewModels.AddBranchViewModel

@{
    ViewBag.Title = "AddNewBranch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodaj nowy obszar certyfikacji</h2>
<hr />

<div>
    <form asp-action="AddNewBranch">

        <div class="col-md-8 col-xl-6 col-lg-6 col-sm-12 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.90">

            <div class="form-group">
                <label asp-for="Name"></label>
                <div>
                    <input type="text" asp-for="Name" class="col-12 form-control border border-primary" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div asp-validation-summary="ModelOnly" class="row justify-content-center alert alert-danger validation-model"></div>



            <div class="row m-0 mt-3">
                <input type="submit" value="Dodaj" class="btn btn-primary mt-1 xs300px_JustifyContentCenter" />
                <a asp-action="DisplayAllBranches" asp-controller="Branches" class="btn btn-outline-info mt-1 xs300px_FloatRight">Powrót do listy</a>
            </div>

        </div>
    </form>
</div>




<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">Launch demo modal</button>
@await Component.InvokeAsync("Modal", new { Title = "TEST", Body = "Przykładowe body", Action="BlankMenu", Controller="Certificates", ButtonText = "Testuj", ButtonClass="btn-success" })

  