@model Certification_System.Models.Branch

@{
    ViewBag.Title = "AddNewBranchConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.TypeOfAction == "Update")
{
    <h2 class="alert alert-info" role="alert">Zmodyfikowano obszar certyfikacji:</h2>
}
else
{
    <h2 class="alert alert-success" role="alert">Dodano następujący obszar certyfikacji:</h2>
}


<div class="container col-12">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-secondary mr-2">
            <span>@Model.Name</span>
        </label>
    </div>

    <p>
        @Html.ActionLink("Dodaj certyfikat", "AddNewBranch", "Branches", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Aktualizuj", "EditBranch", "Branches", new { branchIdentificator = Model.BranchIdentificator }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Lista wszystkich obszarów", "DisplayAllBranches", "Certificates", null, new { @class = "btn btn-success" })
    </p>
</div>



