@model Certification_System.DTOViewModels.DisplayBranchViewModel

@{
    ViewBag.Title = "ConfirmationOfActionOnBranch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.TypeOfAction == "Update")
{
    <h2 class="alert alert-info" role="alert">Zmodyfikowano obszar certyfikacji:</h2>
}
else
{
    <h2 class="alert alert-success" role="alert">Dodano następujący obszar certyfikacji:</h2>
}

<div class="row m-0 mt-3 mb-3">
    <a asp-action="AddNewBranch" asp-controller="Branches" class="btn btn-primary mt-1 xs450px_JustifyContentCenter">Dodaj obszar certyfikacji</a>
    <a asp-action="DisplayAllBranches" asp-controller="Branches" class="btn btn-outline-info mt-1 xs450px_FloatRight">Powrót do listy obszarów</a>
</div>

<div class="container col-12">
    <div class="row justify-content-center mb-2">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-secondary align-content-center">
                <span>@Model.Name</span>
            </label>
        </div>
    </div>
</div>

<div class="mt-3">
    <a asp-action="EditBranch" asp-route-branchIdentificator="@Model.BranchIdentificator" asp-controller="Branches" class="btn btn-warning">Edytuj</a>
</div>


