@model IEnumerable<Certification_System.DTOViewModels.DisplayBranchViewModel>

@{
    ViewBag.Title = "DisplayAllBranches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Obszary certyfikacji zdefiniowane w platformie</h2>
<hr />

@if (!string.IsNullOrWhiteSpace(ViewBag.message))
{
    <h2 class="alert alert-info" role="alert">@ViewBag.message</h2>
}

<div class="container col-12">
    <div class="mt-3 mb-3">
        <a asp-action="AddNewBranch" asp-controller="Branches" class="btn btn-primary">Dodaj nowy obszar</a>
    </div>

    <div>
        @foreach (var branch in Model)
        {
            <a asp-action="EditBranch" asp-controller="Branches" asp-route-branchIdentificator="@branch.BranchIdentificator" class="btn btn-outline-secondary m-2">@branch.Name</a>
        }
    </div>

</div>

