@model IEnumerable<Certification_System.ViewModels.DisplayBranchViewModel>

@{
    ViewBag.Title = "DisplayAllBranches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Obszary certyfikacji zdefiniowane w platformie</h2>
<hr />

<div class="container col-12">
    <div>
        @foreach (var branch in Model)
        {
            @Html.ActionLink(branch.Name, "EditBranch", "Branches", new { BranchIdentificator=branch.BranchIdentificator}, new { @class = "btn btn-outline-secondary m-2" })
        }
    </div>

    <p>
        @Html.ActionLink("Dodaj nowy obszar", "AddNewBranch", "Branches", null, new { @class = "btn btn-primary mt-3" })
    </p>
</div>

