<nav class="navbar navbar-expand-lg sticky-top navbar navbar-light bg-light font-weight-bold" style=" opacity: 0.95; font-size:18px">
    <a asp-controller="Certificates" asp-action="BlankMenu">
        <img src="http://szkolenie.ziad.bielsko.pl/wp-content/uploads/elementor/thumbs/LOGO-ZIAD-u-e1552386865677-o4rd90ugx6yz8nf4i45ijoxmsw4smd9zrcb27yfta8.png" />
    </a>
    <a asp-controller="Certificates" asp-action="BlankMenu" class="navbar-brand ml-2 mr-2" style="font-size: 18px">Certification Platform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-tasks pr-1"></i>Zarządzanie</a>
                <div class="dropdown-menu">
                    <p class="dropdown-header">Przedsiębiorstwo i pracownicy</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="Companies" asp-action="CompanyInformation" class="dropdown-item">Moje przedsiębiorstwo *</a>
                    <a asp-controller="Companies" asp-action="CompanyWorkers" class="dropdown-item">Pracownicy przedsiębiorstwa *</a>
                    <a asp-controller="" asp-action="" class="dropdown-item mb-2">Certyfikaty i stopnie zawodowe</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-chalkboard-teacher pr-1"></i>Kursy</a>
                <div class="dropdown-menu">
                    <p class="dropdown-header">Szkolenia zawodowe</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="" asp-action="" class="dropdown-item">Kursy pracowników</a>
                    <a asp-controller="" asp-action="" class="dropdown-item mb-2">Oferta</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-newspaper pr-1"></i>Aktualności</a>
                <div class="dropdown-menu">
                    <p class="dropdown-header">Wydarzenia</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="" asp-action="" class="dropdown-item">Kalendarz</a>
                    <a asp-controller="Notifications" asp-action="NotificationManagerHub" class="dropdown-item mb-2">Centrum powiadomień *</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-check pr-1"></i>Weryfikacja kompetencji</a>
                <div class="dropdown-menu">
                    <p class="dropdown-header">Weryfikacja</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="CompetenceVerification" asp-action="VerifyCompetenceManual" class="dropdown-item">Instrukcja z menu weryfikacji *</a>
                    <a asp-controller="CompetenceVerification" asp-action="VerifyUser" class="dropdown-item">Weryfikacja użytkownika *</a>
                    <a asp-controller="CompetenceVerification" asp-action="VerifyGivenCertificate" class="dropdown-item">Weryfikacja certyfikatu *</a>
                    <a asp-controller="CompetenceVerification" asp-action="VerifyGivenDegree" class="dropdown-item mb-2">Weryfikacja stopnia zawodowego *</a>
                </div>
            </li>
        </ul>
        <partial name="_LoginPartial" />
    </div>
</nav>