@model Certification_System.DTOViewModels.DisplayCompanyWorkersCompetencesViewModel
@using Certification_System.DTOViewModels

@{
    ViewData["Title"] = "CompanyWorkersCompetences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Posiadane przez pracowników certyfikaty i stopnie zawodowe</h1>
<hr />

<div class="row m-0 mt-3 mb-3">
    <a asp-action="CompanyUsersGivenCompetences" asp-controller="CompetenceVerification" class="btn btn-primary mt-1 mr-1 xs450px_FloatLeft">Wszystkie zdobyte kompetencje pracowników</a>
</div>

<h2 class="mt-4 mb-4">Certyfikaty</h2>

@await Component.InvokeAsync("DisplayCertificateDataTable", new { certificateViewModel = Model.Certificates, tableIdentificator = "listCertificates", operationSet = 2 })

<h2 class="mt-4 mb-4">Stopnie zawodowe</h2>

@await Component.InvokeAsync("DisplayDegreeDataTable", new { degreeViewModel = Model.Degrees, tableIdentificator = "listDegrees", operationSet = 2 })

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableBasicScript", new DataTableInitializationViewModel("listCertificates", new int[] { }, 80, true));}
    @{await Html.RenderPartialAsync("_DataTableBasicScript", new DataTableInitializationViewModel("listDegrees", new int[] { }, 80, true));}
}