@model Certification_System.DTOViewModels.CompanyDetailsViewModel

@{
    ViewData["Title"] = "CompanyDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var deleteParams = new Dictionary<string, string>
            {
                { "companyIdentificator", Model.CompanyIdentificator },
                { "returnUrl", ($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")}
            };
}

<h2>Szczegóły przedsiębiorstwa</h2>
<hr />

<div>
    <h2>Informacje o przedsiębiorstwie</h2>

    <div class="row m-0 mt-3 mb-3">
        <a asp-action="EditCompany" asp-route-companyIdentificator="@Model.CompanyIdentificator" asp-controller="Companies" class="btn btn-warning mt-1 mr-1 xs350px_FloatLeft">Edytuj</a>
        <i class="fas fa-times mt-1 mr-1 icon-hover xs350px_FloatLeft" data-toggle="modal" data-target="#modal"></i>
        @await Component.InvokeAsync("Modal", new { Title = "Usuwanie przedsiębiorstwa", Body = "Czy na pewno chcesz usunąć to przedsiębiorstwo wraz ze wszystkimi jego zależnościami ?", Action = "DeleteCompanyHub", Controller = "Companies", Arguments = deleteParams, ButtonText = "Usuń", ButtonClass = "btn-danger" })

        <a asp-action="DisplayAllCompanies" asp-controller="Companies" class="btn btn-outline-info mt-1 xs350px_FloatRight">Powrót do listy przedsiębiorstw</a>
    </div>

    <form asp-action="CompanyDetails">

        <div class="col-md-6 col-xl-6 col-sm-8 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.80">

            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="PostCode" class="control-label"></label>
                <input asp-for="PostCode" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="NumberOfApartment" class="control-label"></label>
                <input asp-for="NumberOfApartment" class="form-control col-12" readonly />
            </div>

        </div>
    </form>
</div>

<h2 class="mt-4 mb-4">Użytkownicy powiązani z przedsiębiorstwem</h2>

@if (Model.UsersConnectedToCompany.Count != 0)
{
    @await Component.InvokeAsync("DisplayUserDataTable", new { userViewModel = Model.UsersConnectedToCompany, tableIdentificator = "listUsers", operationSet = 1 })
}
else
{
    <div class="mt-4 mb-4 alert alert-warning">Brak zrzeszonych użytkowników</div>
}

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableBasicScript", "listUsers");}
}