@model Certification_System.DTOViewModels.DisplayCompanyViewModel
@using  Certification_System.DTOViewModels

@{
    ViewBag.Title = "ConfirmationOfActionOnCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.TypeOfAction == "Update")
{
    <h2 class="alert alert-info" role="alert">Zaktualizowano wpis dotyczący przedsiębiorstwa:</h2>
}
else
{
    <h2 class="alert alert-success" role="alert">Dodano następujący wpis dotyczący przedsiębiorstwa:</h2>
}

<div class="row m-0 mt-3 mb-3">
    <a asp-action="AddNewCompany" asp-controller="Companies" class="btn btn-primary mt-1 xs350px_FloatLeft">Dodaj nowe przedsiębiorstwo</a>
    <a asp-action="DisplayAllCompanies" asp-controller="Companies" class="btn btn-outline-info mt-1 xs350px_FloatRight">Powrót do listy przedsiębiorstw</a>
</div>

@{List<DisplayCompanyViewModel> companyList = new List<DisplayCompanyViewModel>();
    companyList.Add(Model);}

@await Component.InvokeAsync("DisplayCompanyDataTable", new { companyViewModel = companyList, tableIdentificator = "companyConfirmation" })

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#companyConfirmation').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Polish.json"
                },
            }
            );
        });
    </script>
}
