@model IEnumerable<Certification_System.DTOViewModels.DisplayCompanyViewModel>
@using Certification_System.DTOViewModels

@{
    ViewBag.Title = "DisplayAllCompanies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista wszystkich przedsiębiorstw</h2>
<hr />

@if (!string.IsNullOrWhiteSpace(ViewBag.message))
{
    <h2 class="alert alert-info" role="alert">@ViewBag.message</h2>
}

<div class="mt-3 mb-3">
    <a asp-action="AddNewCompany" asp-controller="Companies" class="btn btn-primary">Dodaj nowe przedsiębiorstwo</a>
</div>

@await Component.InvokeAsync("DisplayCompanyDataTable", new { companyViewModel = Model, tableIdentificator = "listCompanies", operationSet = 1 })

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableBasicScript", new DataTableInitializationViewModel("listCompanies", new int[] { }, 80, true));}
}