<nav class="navbar navbar-expand-lg sticky-top navbar navbar-light bg-light font-weight-bold" style=" opacity: 0.95; font-size:18px">
    <img src="http://szkolenie.ziad.bielsko.pl/wp-content/uploads/elementor/thumbs/LOGO-ZIAD-u-e1552386865677-o4rd90ugx6yz8nf4i45ijoxmsw4smd9zrcb27yfta8.png" />
    <a asp-controller="Certificates" asp-action="BlankMenu" class="navbar-brand ml-2 mr-2" style="font-size: 18px">Certification Platform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="row navbar-nav ml-1 mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-certificate pr-1"></i>Certyfikacja</a>
                <div class="dropdown-menu">
                    <p class="dropdown-header">Certyfikaty</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="Certificates" asp-action="AddNewCertificate" class="dropdown-item">Utwórz nowy certyfikat *</a>
                    <a asp-controller="Certificates" asp-action="DisplayAllCertificates" class="dropdown-item">Wyświetl wszystkie certyfikaty *</a>
                    <div class="dropdown-divider"></div>
                    <p class="dropdown-header mt-1">Przyznane Certyfikaty</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="GivenCertificates" asp-action="AddNewGivenCertificate" class="dropdown-item">Przyznaj pracownikowi certyfikat *</a>
                    <a asp-controller="GivenCertificates" asp-action="DisplayAllGivenCertificates" class="dropdown-item">Wyświetl wszystkie nadane certyfikaty *</a>
                    <div class="dropdown-divider"></div>
                    <p class="dropdown-header mt-1">Stopnie zawodowe</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="Degrees" asp-action="AddNewDegree" class="dropdown-item">Dodaj nowy stopień zawodowy *</a>
                    <a asp-controller="Degrees" asp-action="DisplayAllDegrees" class="dropdown-item">Wyświetl wszystkie stopnie zawodowe *</a>
                    <div class="dropdown-divider"></div>
                    <p class="dropdown-header mt-1">Przyznane stopnie zawodowe</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="GivenDegrees" asp-action="AddNewGivenDegree" class="dropdown-item">Przyznaj pracownikowi stopień zawodowy *</a>
                    <a asp-controller="GivenDegrees" asp-action="DisplayAllGivenDegrees" class="dropdown-item mb-2">Wyświetl wszystkie nadane stopnie zawodowe *</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-chalkboard-teacher pr-1"></i>Szkolenia</a>
                <div class="dropdown-menu">
                    <p class="dropdown-header">Kursy</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="Courses" asp-action="AddCourseMenu" class="dropdown-item">Dodaj szkolenie *</a>
                    <a asp-controller="Courses" asp-action="DisplayAllCourses" class="dropdown-item">Wyświetl wszystkie kursy *</a>
                    <a asp-controller="Courses" asp-action="AssignUserToCourse" class="dropdown-item">Dodaj użytkownika do kursu *</a>
                    <div class="dropdown-divider"></div>
                    <p class="dropdown-header mt-1">Spotkania kursowe</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="Meetings" asp-action="AddNewMeeting" class="dropdown-item">Dodaj spotkanie do szkolenia *</a>
                    <a asp-controller="Meetings" asp-action="DisplayAllMeetings" class="dropdown-item">Wyświetl wszystkie spotkania *</a>
                    <div class="dropdown-divider"></div>
                    <p class="dropdown-header mt-1">Egzaminy</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="Exams" asp-action="AddExamMenu" class="dropdown-item">Dodaj nowy egzamin/termin egzaminu *</a>
                    <a asp-controller="Exams" asp-action="DisplayAllExams" class="dropdown-item">Wyświetl wszystkie egzaminy *</a>
                    <div class="dropdown-divider"></div>
                    <p class="dropdown-header mt-1">Tury egzaminów</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="ExamsTerms" asp-action="AddNewExamTerm" class="dropdown-item">Dodaj nowe tury egzaminu *</a>
                    <a asp-controller="ExamsTerms" asp-action="DisplayAllExamsTerms" class="dropdown-item">Wyświetl wszystkie tury egzaminów *</a>
                    <div class="dropdown-divider"></div>
                    <p class="dropdown-header mt-1">Egzaminowanie</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="Exams" asp-action="DisplayAllExamsResults" class="dropdown-item">Wyświetl wszystkie wyniki egzaminowania *</a>
                    <a asp-controller="Exams" asp-action="AssignUserToExam" class="dropdown-item">Przypisz użytkownika do egzaminu *</a>
                    <a asp-controller="ExamsTerms" asp-action="AssignUserToExamTerm" class="dropdown-item mb-2">Przypisz użytkownika do tury egzaminu*</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-address-card pr-1"></i>Użytkownicy</a>
                <div class="dropdown-menu">
                    <p class="dropdown-header">Użytkownicy systemu</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="Users" asp-action="AddNewUser" class="dropdown-item">Dodaj nowego użytkownika *</a>
                    <a asp-controller="Users" asp-action="DisplayAllUsers" class="dropdown-item mb-2">Wyświetl wszystkich użytkowników *</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-tasks pr-1"></i>Zarządzanie</a>
                <div class="dropdown-menu">
                    <p class="dropdown-header">Przedsiębiorstwa</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="Companies" asp-action="AddNewCompany" class="dropdown-item">Utwórz przedsiębiorstwo*</a>
                    <a asp-controller="Companies" asp-action="DisplayAllCompanies" class="dropdown-item">Przeglądaj przedsiębiorstwa*</a>
                    <div class="dropdown-divider"></div>
                    <p class="dropdown-header mt-1">Obszary certyfikacji</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="Branches" asp-action="AddNewBranch" class="dropdown-item">Dodaj nowy obszar certyfikacji *</a>
                    <a asp-controller="Branches" asp-action="DisplayAllBranches" class="dropdown-item">Wyświetl obszary certyfikacji *</a>
                    <div class="dropdown-divider"></div>
                    <p class="dropdown-header mt-1">Aktualności</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="" asp-action="" class="dropdown-item">Kalendarz</a>
                    <a asp-controller="Notifications" asp-action="NotificationManagerHub" class="dropdown-item mb-2">Centrum powiadomień *</a>
                </div>
            </li>
            @*<li class="nav-item">
                    <a class="nav-link" id="navbarItem" href="#">Kalendarz</a>
                </li>*@
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-check pr-1"></i>Weryfikacja kompetencji</a>
                <div class="dropdown-menu">
                    <p class="dropdown-header">Weryfikacja</p>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="CompetenceVerification" asp-action="VerifyCompetenceManual" class="dropdown-item">Instrukcja z menu weryfikacji *</a>
                    <a asp-controller="CompetenceVerification" asp-action="VerifyUser" class="dropdown-item">Weryfikacja użytkownika *</a>
                    <a asp-controller="CompetenceVerification" asp-action="VerifyGivenCertificate" class="dropdown-item">Weryfikacja certyfikatu *</a>
                    <a asp-controller="CompetenceVerification" asp-action="VerifyGivenDegree" class="dropdown-item mb-2">Weryfikacja stopnia zawodowego *</a>
                </div>
            </li>
        </ul>
        @*<form class="form-inline">
                <div class="md-form my-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Search</button>
                </div>
            </form>*@
        <partial name="_LoginPartial" />
    </div>
</nav>
