@{
    ViewData["Title"] = "Access denied";
}
<header>
    <h1 class="text-danger">Brak dostępu</h1>
    <p class="text-danger text-justify">
        Wygląda na to, że trafiłeś do miejsca, które nie zostało zaprojektowane dla Twojej roli użytkownika. <br />
        Jeżeli wydaje Ci się, że powinieneś mieć dostęp do tego zasobu skontaktuj się z administratorem platformy.
    </p>
</header>

