@model Certification_System.DTOViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zresetuj zapomniane hasło do konta użytkownika</h2>
<hr />

<div>
    <form asp-action="ForgotPassword">

        <div class="col-md-8 col-xl-6 col-lg-6 col-sm-12 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.90">

            <div class="form-group">
                <div>
                    <label asp-for="Email"></label>
                </div>
                <div>
                    <input type="email" asp-for="Email" class="col-12 form-control" />
                </div>
                <div class="row justify-content-center">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div asp-validation-summary="ModelOnly" class="row justify-content-center alert alert-danger validation-model"></div>

            <div class="row m-0 mt-3">
                <input type="submit" class="btn btn-primary mt-1 xs300px_JustifyContentCenter" value="Resetuj" />
                <a asp-action="Login" asp-controller="Account" class="btn btn-outline-info mt-1 xs300px_FloatRight">Powrót do logowania</a>
            </div>

        </div>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
