
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="col-md-8 col-xl-6 col-lg-6 col-sm-12 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.90">
        <div class="row justify-content-center alert alert-info">
            <p>@ViewBag.message</p>
        </div>
    </div>
</div>
