@using System.Linq
@using Certification_System.Models
@using Microsoft.AspNetCore.Identity
@model Certification_System.ViewModels.AccountViewModels.LoginViewModel
@inject SignInManager<CertificationPlatformUser> SignInManager
@{
    ViewData["Title"] = "Logowanie";
}

<h2>@ViewData["Title"].</h2>
<div class="row">
    <div class="col-12">
        <section id="loginForm">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <h4>Zaloguj się na swoje konto.</h4>
                <hr />

                <div class="form-group">
                    <div class="col-6 m-auto p-0">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="col-6 m-auto p-0">
                        <input type="email" asp-for="Email" class="col-12 form-control" />
                    </div>
                    <div class="row justify-content-center">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-6 m-auto p-0">
                        <label asp-for="Password"></label>
                    </div>
                    <div class="col-6 m-auto p-0">
                        <input type="password" asp-for="Password" class="col-12 form-control" />
                    </div>
                    <div class="row justify-content-center">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group col-6 m-auto p-0">
                    <div class="checkbox col-12 p-0">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row justify-content-center">
                        <input type="submit" value="Zaloguj" class="btn btn-primary" />
                    </div>
                </div>

                <div class="form-group">
                    <p class="row justify-content-center">
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Nie posiadasz konta? Zarejestruj się.</a>
                    </p>
                    <p class="row justify-content-center">
                        <a asp-action="ForgotPassword">Zapomniałeś hasła?</a>
                    </p>
                    <div class="row justify-content-center">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
