@model string
@{
    ViewData["Title"] = "UniversalConfirmationPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-top:8vw; padding-bottom:10vw">
    <div class="col-md-8 col-xl-6 col-lg-6 col-sm-12 col-xs-10 m-auto p-3 shadow p-3 mb-5 rounded alert alert-info rounded-bottom mt-5" style="opacity:0.90">
        <p>@ViewBag.message</p>
        <div class="row justify-content-center">
            <a href="@Model" class="btn btn-primary">Ok</a>
        </div>
    </div>
</div>

