@model IEnumerable<Certification_System.DTOViewModels.DisplayGivenCertificateViewModel>

@{
    ViewData["Title"] = "DisplayAllGivenCertificates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista wszystkich nadanych certyfikatów</h1>
<hr />

@if (!string.IsNullOrWhiteSpace(ViewBag.message))
{
    <h2 class="alert alert-info" role="alert">@ViewBag.message</h2>
}

<div class="mt-3 mb-3">
    <a asp-action="AddNewGivenCertificate" asp-controller="GivenCertificates" class="btn btn-primary">Przyznaj nowy certyfikat</a>
</div>

@await Component.InvokeAsync("DisplayGivenCertificateDataTable", new { givenCertificateViewModel = Model, tableIdentificator = "listGivenCertificates", operationSet = 1 })

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableBasicScript", "listGivenCertificates");}
}
