@model Certification_System.DTOViewModels.DisplayGivenDegreeViewModel
@using Certification_System.DTOViewModels

@{
    ViewData["Title"] = "ConfirmationOfActionOnGivenDegree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.TypeOfAction == "Update")
{
    <h2 class="alert alert-info" role="alert">Zaktualizowano nadany stopień zawodowy:</h2>
}
else
{
    <h2 class="alert alert-success" role="alert">Przyznano następujący stopień zawodowy:</h2>
}

<div class="row m-0 mt-3 mb-3">
    <a asp-action="AddNewGivenDegree" asp-controller="GivenDegrees" class="btn btn-primary mt-1 xs450px_FloatLeft">Przyznaj nowy stopień zawodowy</a>
    <a asp-action="DisplayAllGivenDegrees" asp-controller="GivenDegrees" class="btn btn-outline-info mt-1 xs450px_FloatRight">Powrót do listy nadanych stopni zawodowych</a>
</div>

@{List<DisplayGivenDegreeViewModel> givenDegreeList = new List<DisplayGivenDegreeViewModel>();
    givenDegreeList.Add(Model);}

@await Component.InvokeAsync("DisplayGivenDegreeDataTable", new { givenDegreeViewModel = givenDegreeList, tableIdentificator = "givenDegreeConfirmation" })

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#givenDegreeConfirmation').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Polish.json"
                },
            }
            );
        });
    </script>
}
