@model IEnumerable<Certification_System.DTOViewModels.DisplayGivenDegreeViewModel>

@{
    ViewData["Title"] = "DisplayAllGivenDegrees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista wszystkich nadanych stopni zawodowych</h1>
<hr />

<div class="mt-3 mb-3">
    <a asp-action="AddNewGivenDegree" asp-controller="GivenDegrees" class="btn btn-primary">Przyznaj stopień zawodowy</a>
</div>

@await Component.InvokeAsync("DisplayGivenDegreeDataTable", new { givenDegreeViewModel = Model, tableIdentificator = "listGivenDegrees", operationSet = 1 })

@section Scripts{
    <script>
        $(document).ready(function () {

            $('#listGivenDegrees').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Polish.json"
                },
            }
            );
        });
    </script>
}
