@model IEnumerable<Certification_System.DTOViewModels.DisplayUserViewModel>
@using Certification_System.DTOViewModels

@{
    ViewBag.Title = "DisplayAllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista użytkowników systemu</h2>
<hr />

<div class="mt-3 mb-3">
    <a asp-action="AddNewUser" asp-controller="Users" class="btn btn-primary">Dodaj użytkownika</a>
</div>

<div class="row justify-content-center form-group">
    <label class="control-label" id="labelWithSelect" style="margin-bottom:0px; margin-top:7px">Rola użytkownka:</label>
    <select id="select" data-style="btn-light" asp-items="ViewBag.AvailableRoleFilters" data-container="body" data-width="50%" data-size="auto" data-header="Wybierz filtrowaną rolę użytkownika" data-live-search="true" class="form-control selectpicker show-tick">

    </select>
</div>

@await Component.InvokeAsync("DisplayUserDataTable", new { userViewModel = Model, tableIdentificator = "listUsers", operationSet = 2 })

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableWithFilterOnColumnScript", new DataTableExtendedScriptViewModel { TableIdentificator = "listUsers", NumberOfColumn = 3 });}
}
