@model Certification_System.DTOViewModels.EditMeetingViewModel

@{
    ViewData["Title"] = "EditMeeting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edycja spotkania</h2>
<hr />

<div>
    <form asp-action="EditMeeting">

        <div class="col-md-6 col-xl-6 col-sm-8 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.80">

            <div class="form-group">
                <label asp-for="MeetingIndexer" class="control-label"></label>
                <div>
                    <input asp-for="MeetingIndexer" class="form-control col-12" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="MeetingIndexer" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <div>
                    <textarea asp-for="Description" class="form-control col-12" style="width:100%; min-width:100%;"></textarea>
                    <div class="row justify-content-center">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label asp-for="DateOfMeeting" class="control-label"></label>
                <div>
                    <div class='input-group date' id='DateOfMeeting'>
                        <input type='text' class="form-control col-12" name="DateOfMeeting" value="@Model.DateOfMeeting" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar pl-1 pt-0.5" style="font-size:34px"></span>
                        </span>
                    </div>
                    <div class="row justify-content-center">
                        <span asp-validation-for="DateOfMeeting" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <div>
                    <input asp-for="Country" class="form-control col-12" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <div>
                    <input asp-for="City" class="form-control col-12" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="PostCode" class="control-label"></label>
                <div>
                    <input asp-for="PostCode" class="form-control col-12" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="PostCode" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <div>
                    <input asp-for="Address" class="form-control col-12" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="NumberOfApartment" class="control-label"></label>
                <div>
                    <input asp-for="NumberOfApartment" class="form-control col-12" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="NumberOfApartment" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="AvailableInstructors" class="control-label"></label>
                <div>
                    <select asp-for="SelectedInstructors" asp-items="@Model.AvailableInstructors" data-style="btn-white" data-container="body" data-width="auto" data-header="Wybierz instruktora" data-live-search="true" title="Nie wybrano instruktora" multiple class="form-control selectpicker show-tick w-100"> </select>
                    <div class="row justify-content-center">
                        <span asp-validation-for="SelectedInstructors" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div asp-validation-summary="ModelOnly" class="row justify-content-center alert alert-danger validation-model"></div>

            <div class="row justify-content-center">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
            </div>

        </div>

    </form>
</div>

<div class="mt-3">
    <a asp-action="DisplayAllMeetings" asp-controller="Meetings" class="btn btn-info">Przejdź do listy spotkań</a>
</div>

<div>
    @*jeżeli było to przekierowanie to możemy wrócić
        @Html.ActionLink("Wróć do listy spotkań szkolenia", "Index")

        jeżeli panel został ręcznie wywołany możemy z tego poziomu przejść do widoku aktywnych kursów
        @Html.ActionLink("Przeglądaj aktywne kursy", "Index")*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $('#DateOfMeeting').datetimepicker({
                format: 'DD.MM.YYYY HH:mm',
                locale: moment.locale('pl', {
                    week: { dow: 1 }
                })
            });
        });
    </script>
}
