@model Certification_System.DTOViewModels.MeetingDetailsViewModel

@{
    ViewData["Title"] = "InstructorMeetingDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Szczegóły spotkania</h2>
<hr />

@if (ViewBag.CheckedPresence == true)
{
    <h2 class="alert alert-info" role="alert">Dokonano sprawdzenia obecności na spotkaniu</h2>
}

<div>
    <h2>Informacje o spotkaniu</h2>

    <div class="row m-0 mt-3 mb-3">
        <a asp-action="DisplayAllMeetings" asp-controller="Meetings" class="btn btn-outline-info mt-1 xs350px_FloatRight">Powrót do listy spotkań</a>
    </div>

    <form asp-action="MeetingDetails">

        <div class="col-md-8 col-xl-6 col-lg-6 col-sm-12 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.90">

            <div class="form-group">
                <label asp-for="MeetingIndexer" class="control-label"></label>
                <input asp-for="MeetingIndexer" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control col-12" style="width:100%; min-width:100%;" readonly></textarea>
            </div>

            <div class="form-group">
                <label asp-for="DateOfStart" class="control-label"></label>
                <input asp-for="DateOfStart" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="DateOfEnd" class="control-label"></label>
                <input asp-for="DateOfEnd" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="PostCode" class="control-label"></label>
                <input asp-for="PostCode" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control col-12" readonly />
            </div>

            <div class="form-group">
                <label asp-for="NumberOfApartment" class="control-label"></label>
                <input asp-for="NumberOfApartment" class="form-control col-12" readonly />
            </div>

        </div>

    </form>
</div>

<h2 class="mt-4 mb-4">Instruktorzy przeprowadzający spotkanie</h2>

@if (Model.Instructors.Count != 0)
{
    @await Component.InvokeAsync("DisplayCrucialDataWithContactUserDataTable", new { userViewModel = Model.Instructors, tableIdentificator = "listInstructors"})
}
else
{
    <div class="mt-4 mb-4 alert alert-warning">Brak instruktorów przypisanych do spotkania</div>
}

<h2 class="mt-4 mb-4">Uczestnicy kursu</h2>

<div class="mt-3 mb-3">
    <a asp-action="CheckUsersPresence" asp-route-meetingIdentificator="@Model.MeetingIdentificator" asp-controller="Meetings" class="btn btn-primary">Sprawdź obecność</a>
</div>

@if (Model.AllCourseParticipants.Count != 0)
{
    @await Component.InvokeAsync("DisplayMeetingPresenceDataTable", new { userViewModel = Model.AllCourseParticipants, attendanceViewModel = Model.AttendanceList, tableIdentificator = "listUsers"})
}
else
{
    <div class="mt-4 mb-4 alert alert-warning">Brak zapisanych użytkowników</div>
}

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableBasicScript", "listInstructors");}
    @{await Html.RenderPartialAsync("_DataTableBasicScript", "listUsers");}
}

