
@media print {
    @page  {
        size: A4 portrait;
        margin: 2cm 1cm;
    }

    .pagebreak {
        width: 100%;
    }
}

.identificatorPart {
    width: 300px;
    height: 300px;
    border: 4px dotted;
    border-color: #4162ce;
    -webkit-print-color-adjust: exact;
    background-image: url('../image/logo_ziad_big_grey_t30.jpg');
    background-size: 300px 300px;
    background-repeat: no-repeat;
}

.identificatorPart2 {
    margin-left: 10.27cm;
    margin-top: 0.2cm;
    margin-bottom: 2cm;
    margin-right: 1.8cm;
    page-break-before: always;

    width: 300px;
    height: 300px;
    border: 4px dotted;
    border-color: #4162ce;
    -webkit-print-color-adjust: exact;
    background-image: url('../image/logo_ziad_big_grey_t40.jpg');
    background-size: 300px 300px;
    background-repeat: no-repeat;
}

.qrCode {
    margin-top: 20px;
    width: 180px;
    height: 180px;
    border: 4px dotted;
    border-color: #4162ce;
}

.img-container {
    text-align: center;
}

p {
    color: #4162ce;
    margin-bottom: 0px;
}

span {
    color: #871414;
}

.platformName{
    font-size: 22px;
}

.frontImage {
    margin-top: 10px;
    margin-bottom: 2px;
    max-width: 260px;
    max-height: 180px;
    border: 2px double;
    border-color: #4162ce;
}

.person {
    width: 280px;
    margin: 5px 4px 5px 4px;
    font-size: 18px;
}
