/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 32vw;
}

/*@media (min-width: 1200px) {
    .container {
        max-width: 70vw;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 80vw;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 90vw;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 90vw;
    }
}*/

.background-image {
    background-image: url('../Image/logo_ziad_big_transparent.png');
    background-size: 40vw 30vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#top-bar-wrap {
    background-color: #252525;
    color: #ffffff;
    font-size: 12px;
}

#copyright {
    float: none;
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

#footer-bottom {
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #000000;
}

.dropdown-menu a:hover {
    background-color: #99ccff;
    color: #ffffff;
}

#navbarDropdown:hover {
    color: #4162ce;
}

#navbarItem:hover {
    color: #4162ce;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #4162ce;
}
