/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 2vh 2vw 2vh 2vw;
    min-height: 32vw;
}

/*@media (min-width: 1200px) {
    .container {
        max-width: 70vw;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 80vw;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 90vw;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 90vw;
    }
}*/

.body-image {
    background-image: url('../Image/page-bg_10.jpg');
    background-repeat: repeat;
}

.background-image {
    background-image: url('../Image/logo_ziad_big_transparent.png');
    background-size: 40vw 30vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

#top-bar-wrap {
    background-color: #252525;
    color: #ffffff;
    font-size: 12px;
}

#copyright {
    float: none;
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

#footer-bottom {
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #000000;
}

.dropdown-menu a:hover {
    background-color: #99ccff;
    color: #ffffff;
}

#navbarDropdown:hover {
    color: #4162ce;
}

#navbarItem:hover {
    color: #4162ce;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #4162ce;
}

.validation-model ul {
    margin-bottom: 0px;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.show {
    padding: 0px 0px 0px 0px;
}

ul {
    padding-left: 20px;
}

@media (max-width: 300px) {
    .xs300px_FloatRight {
        margin: auto;
    }

    .xs300px_JustifyContentCenter {
        margin: auto;
    }
}

@media (min-width: 302px) {
    .xs300px_FloatRight {
        margin-left: auto;
    }
}




@media (max-width: 450px) {
    .xs450px_FloatRightThenJustify {
        margin: auto;
    }

    .xs450px_JustifyContentCenter {
        margin: auto;
    }

    .xs450px_FloatRight {
        margin: 0;
    }

    .xs450px_FloatLeft {
        margin: 0;
        margin-right: 4px;
    }
}

@media (min-width: 452px) {
    .xs450px_FloatRight {
        margin-left: auto;
    }

    .xs450px_FloatRightThenJustify {
        margin-left: auto;
    }
}

@media (max-width: 350px) {
    .xs350px_FloatRight {
        margin: 0px;
    }

    .xs350px_FloatLeft {
        margin: 0px;
        margin-right: 4px;
    }
}

@media (min-width: 352px) {
    .xs350px_FloatRight {
        margin-left: auto;
    }
}

@media (max-width: 650px) {
    .md650px_FloatRight {
        margin: 0px;
    }

    .md650px_FloatLeft {
        margin: 0px;
        margin-right: 4px;
    }
}

@media (min-width: 652px) {
    .md650px_FloatRight {
        margin-left: auto;
    }

    .md650px_FloatLeft {
        margin-right: 4px;
    }
}

@media (max-width: 352px) {
    .navbar-toggler {
        margin-left: auto;
    }

    .navbar-brand {
        margin: auto;
    }
}

.dropdown-menu {
    max-height: 80vh;
    overflow-y: auto;
}

.modal-backdrop {
    z-index: 1010;
}
