@model Certification_System.DTOViewModels.VerifyCertificateViewModel

@{
    ViewData["Title"] = "VerifyCertificate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Weryfikuj certyfikat</h1>
<hr />

<div>
    <form asp-action="VerifyCertificate">

        <div class="col-md-6 col-xl-6 col-sm-8 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.80">

            <div class="form-group">
                <label asp-for="CertificateIdentificator" class="control-label"></label>
                <div>
                    <input asp-for="CertificateIdentificator" class="form-control col-12" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="CertificateIdentificator" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @if (ViewBag.CertificateIdentificatoNotValid == true)
            {
                <div class="row justify-content-center alert alert-danger validation-model">Nie ma certyfikatu o podanym identyfikatorze</div>
            }

            <div asp-validation-summary="ModelOnly" class="row justify-content-center alert alert-danger validation-model"></div>

            <div class="row justify-content-center">
                <input type="submit" value="Weryfikuj" class="btn btn-primary" />
            </div>
        </div>

    </form>
</div>

<div class="mt-3">
    <a asp-action="VerifyCompetenceManual" asp-controller="CompetenceVerificationController" class="btn btn-info">Powrót do panelu weryfikacji</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
