@model Certification_System.DTOViewModels.VerifyUserViewModel

@{
    ViewData["Title"] = "VerifyUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Weryfikuj użytkownika</h1>
<hr />

<div>
    <form asp-action="VerifyUser">

        <div class="col-md-8 col-xl-6 col-lg-6 col-sm-12 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.90">

            <div class="form-group">
                <label asp-for="UserIdentificator" class="control-label"></label>
                <div>
                    <input asp-for="UserIdentificator" class="form-control col-12" />
                    <div class="row justify-content-center">
                        <span asp-validation-for="UserIdentificator" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @if (Model.UserIdentificatorNotExist == true)
            {
                <div class="row justify-content-center alert alert-danger validation-model">Nie istnieje użytkownik o podanym identyfikatorze</div>
            }

            <div asp-validation-summary="ModelOnly" class="row justify-content-center alert alert-danger validation-model"></div>

            <div class="row m-0 mt-3">
                <input type="submit" value="Weryfikuj" class="btn btn-primary mt-1 xs300px_JustifyContentCenter" />
                <a asp-action="VerifyCompetenceManual" asp-controller="CompetenceVerification" class="btn btn-outline-info mt-1 xs300px_FloatRight">Powrót do panelu weryfikacji</a>
            </div>

        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}