@model Certification_System.DTOViewModels.DisplayExamTermViewModel
@using Certification_System.DTOViewModels

@{
    ViewData["Title"] = "ConfirmationOfActionOnExamTerm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.TypeOfAction == "Update")
{
    <h2 class="alert alert-info" role="alert">Zaktualizowano turę egzaminu:</h2>
}
else
{
    <h2 class="alert alert-success" role="alert">Dodano nową turę egzaminu:</h2>
}

<div class="row m-0 mt-3 mb-3">
    <a asp-action="AddNewExamTerm" asp-controller="ExamsTerms" class="btn btn-primary mt-1 xs450px_FloatLeft">Dodaj nową turę do egzaminu</a>
    <a asp-action="DisplayAllExamsTerms" asp-controller="ExamsTerms" class="btn btn-outline-info mt-1 xs450px_FloatRight">Powrót do listy tur</a>
</div>

@{List<DisplayExamTermViewModel> examTermList = new List<DisplayExamTermViewModel>();
    examTermList.Add(Model);}

@await Component.InvokeAsync("DisplayExamTermDataTable", new { examTermViewModel = examTermList, tableIdentificator = "examTermConfirmation" })

@section Scripts{
    @{await Html.RenderPartialAsync("_DataTableBasicScript", "examTermConfirmation");}
}
