@model Certification_System.DTOViewModels.DeleteUsersFromExamTermViewModel

@{
    ViewData["Title"] = "DeleteUsersFromExamTerm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuwanie użytkowników z tury egzaminu</h2>
<hr />

<form asp-action="DeleteUsersFromExamTerm">
    <div>
        <h2>Informacje o turze egzaminu</h2>

        <div class="col-md-8 col-xl-6 col-lg-6 col-sm-12 col-xs-10 m-auto p-3 shadow p-3 mb-5 bg-light rounded border border-primary rounded-bottom" style="opacity:0.90">

            <input asp-for="ExamTermIdentificator" class="form-control col-12" hidden />
            <input asp-for="Exam.ExamIdentificator" class="form-control col-12" hidden />

            <div class="form-group">
                <label asp-for="Exam.ExamIndexer" class="control-label"></label>
                <input asp-for="Exam.ExamIndexer" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="Exam.Name" class="control-label"></label>
                <input asp-for="Exam.Name" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="Exam.OrdinalNumber" class="control-label"></label>
                <input asp-for="Exam.OrdinalNumber" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="DateOfStart" class="control-label"></label>
                <input asp-for="DateOfStart" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="DateOfStart" class="control-label"></label>
                <input asp-for="DateOfStart" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="DateOfStart" class="control-label"></label>
                <input asp-for="DateOfStart" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="DateOfEnd" class="control-label"></label>
                <input asp-for="DateOfEnd" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="DurationDays" class="control-label"></label>
                <input asp-for="DurationDays" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="DurationMinutes" class="control-label"></label>
                <input asp-for="DurationMinutes" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="UsersQuantity" class="control-label"></label>
                <input asp-for="UsersQuantity" class="form-control col-12" disabled />
            </div>

            <div class="form-group">
                <label asp-for="UsersLimit" class="control-label"></label>
                <input asp-for="UsersLimit" class="form-control col-12" disabled />
            </div>

        </div>
    </div>

    <h2 class="mt-4 mb-4">Uczestnicy tury egzaminu</h2>

    @if (Model.AllExamTermParticipants.Count != 0)
    {
        @await Component.InvokeAsync("DeleteUserFromExamTermDataTable", new { userViewModel = Model.AllExamTermParticipants, userToDeleteViewModel = Model.UsersToDeleteFromExamTerm, tableIdentificator = "listUsers" })

        <div>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal">Usuń użytkowników z tury egzaminu</button>
            </div>
        </div>
    }
    else
    {
        <div class="mt-4 mb-4 alert alert-warning">Brak zapisanych użytkowników</div>
    }

</form>

@await Component.InvokeAsync("Modal", new { Title = "Usuwanie użytkowników z egzaminu", Body = "Czy na pewno chcesz usunąć zaznaczonych użytkowników z tury egzaminu ?", FormSubmit = true, ButtonText = "Usuń", ButtonClass = "btn-danger" })

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_DataTableBasicScript", "listUsers");}
}
